<?xml version="1.0" encoding="utf-8" ?>
<Settings count="20">
  <Setting id="1" name="useCaching" type="bool" value="false" />
  <Setting id="2" name="max_query_results" type="int" value="50" />
  <Setting id="3" name="line_height" type="double" value="1.0" />
  <Setting id="4" name="show_reference_pids" type="bool" value="true" />
  <Setting id="5" name="show_paper_contents" type="bool" value="false" />
  <Setting id="6" name="show_playback_controls" type="bool" value="false" />
  <Setting id="7" name="culture" type="string" value="en-US" />
  <Settign id="8" name="default_theme" type="string" value="light" />
  <Setting id="9" name="window_size" type="int" value="2" />
  <Setting id="10" name="small_window" type="string" value="680,520" />
  <Setting id="11" name="medium_window" type="string" value="880,720" />
  <Setting id="12" name="large_window" type="string" value="1080,920" />
  <Setting id="13" name="auto_send_email" type="bool" value="false" />
  <Setting id="14" name="stream_audio" type="bool" value="false" />
  <Setting id="15" name="audio_status" type="string" value="off" />
  <Setting id="16" name="audio_download_status" type="string" value="off" />
  <Setting id="17" name="use_default_audio_path" type="bool" value="false" />
  <Setting id="18" name="audio_folder_name" type="string" value="[Empty]" />
  <Setting id="19" name="audio_folder_path" type="string" value="Please pick audio folder ..." />
  <Setting id="20" name="run_precheck_silent" type="bool" value="true" />
</Settings>